src/workflows/n8n/file-ingestion.json
{
    "name": "ShopMind AI — File Ingestion Pipeline",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "file-ingestion",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "ingest-webhook",
            "name": "Webhook — File Ingestion",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                220,
                340
            ],
            "webhookId": "file-ingestion"
        },
        {
            "parameters": {
                "jsCode": "// ── Validate ingestion request ──\nconst body = $input.first().json.body;\n\nconst document_id = body.document_id;\nconst store_id = body.store_id;\n\nif (!document_id) throw new Error('Missing required field: document_id');\nif (!store_id) throw new Error('Missing required field: store_id');\n\nreturn [{ json: { document_id, store_id } }];"
            },
            "id": "ingest-validate",
            "name": "Validate Ingestion Request",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                340
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=UPDATE knowledge_documents SET status = 'extracting', progress = 10 WHERE id = '{{ $json.document_id }}' AND store_id = '{{ $json.store_id }}' RETURNING id, store_id, file_name, file_type, storage_path, doc_type;",
                "options": {}
            },
            "id": "update-extracting",
            "name": "Update Status → Extracting",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                660,
                340
            ],
            "credentials": {
                "postgres": {
                    "id": "YOUR_SUPABASE_DB_CREDENTIAL_ID",
                    "name": "Supabase PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"status\": \"processing\", \"document_id\": \"{{ $json.id }}\" }",
                "options": {
                    "responseCode": 202,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "early-respond",
            "name": "Respond 202 — Accepted",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                660,
                560
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $env.SUPABASE_URL || 'https://YOUR_PROJECT.supabase.co' }}/storage/v1/object/authenticated/documents/{{ $json.storage_path }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_SERVICE_KEY || 'YOUR_SUPABASE_SERVICE_ROLE_KEY' }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 30000,
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "id": "download-file",
            "name": "Download File from Storage",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                880,
                340
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "YOUR_SUPABASE_SERVICE_CREDENTIAL_ID",
                    "name": "Supabase Service Role"
                }
            },
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 2000
        },
        {
            "parameters": {
                "jsCode": "// ── Extract text content from file ──\nconst docMeta = $('Update Status → Extracting').item.json;\nconst fileType = (docMeta.file_type || '').toLowerCase();\nconst binary = $input.first().binary;\n\nlet extractedText = '';\n\n// For text-based files, read the binary directly\nif (['txt', 'csv', 'md'].includes(fileType)) {\n  const binaryData = binary?.data;\n  if (binaryData) {\n    extractedText = Buffer.from(binaryData.data || binaryData, 'base64').toString('utf-8');\n  }\n} else if (fileType === 'pdf') {\n  // For PDF: Use a PDF extraction service or library\n  // Option 1: Use pdf-parse via n8n code node\n  // Option 2: Call an external extraction API\n  // Placeholder — integrate your preferred PDF parser:\n  extractedText = '[PDF_EXTRACTION_PLACEHOLDER: Integrate pdf-parse or external service]';\n} else if (['doc', 'docx'].includes(fileType)) {\n  extractedText = '[DOCX_EXTRACTION_PLACEHOLDER: Integrate mammoth.js or external service]';\n} else if (['xls', 'xlsx'].includes(fileType)) {\n  extractedText = '[EXCEL_EXTRACTION_PLACEHOLDER: Integrate SheetJS or external service]';\n}\n\nif (!extractedText || extractedText.trim().length < 10) {\n  throw new Error(`Failed to extract text from ${fileType} file: ${docMeta.file_name}`);\n}\n\nreturn [{\n  json: {\n    text: extractedText,\n    document_id: docMeta.id,\n    store_id: docMeta.store_id,\n    file_name: docMeta.file_name,\n    file_type: fileType,\n    doc_type: docMeta.doc_type || 'general',\n    char_count: extractedText.length\n  }\n}];"
            },
            "id": "extract-text",
            "name": "Extract Text Content",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1100,
                340
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=UPDATE knowledge_documents SET status = 'chunking', progress = 30 WHERE id = '{{ $json.document_id }}';",
                "options": {}
            },
            "id": "update-chunking",
            "name": "Update Status → Chunking",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1320,
                340
            ],
            "credentials": {
                "postgres": {
                    "id": "YOUR_SUPABASE_DB_CREDENTIAL_ID",
                    "name": "Supabase PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// ── Chunk text with overlap ──\nconst text = $('Extract Text Content').item.json.text;\nconst document_id = $('Extract Text Content').item.json.document_id;\nconst store_id = $('Extract Text Content').item.json.store_id;\nconst doc_type = $('Extract Text Content').item.json.doc_type;\n\nconst CHUNK_SIZE = 500;   // characters per chunk\nconst CHUNK_OVERLAP = 100; // overlap between chunks\n\nconst chunks = [];\nlet start = 0;\nlet chunkIndex = 0;\n\nwhile (start < text.length) {\n  // Try to break at sentence/paragraph boundaries\n  let end = Math.min(start + CHUNK_SIZE, text.length);\n  \n  // Look for a sentence break near the end\n  if (end < text.length) {\n    const lastPeriod = text.lastIndexOf('.', end);\n    const lastNewline = text.lastIndexOf('\\n', end);\n    const breakPoint = Math.max(lastPeriod, lastNewline);\n    if (breakPoint > start + CHUNK_SIZE * 0.5) {\n      end = breakPoint + 1;\n    }\n  }\n  \n  const chunkContent = text.slice(start, end).trim();\n  \n  if (chunkContent.length > 20) { // Skip tiny fragments\n    chunks.push({\n      json: {\n        content: chunkContent,\n        chunk_index: chunkIndex,\n        document_id,\n        store_id,\n        doc_type,\n        metadata: JSON.stringify({\n          doc_type,\n          chunk_index: chunkIndex,\n          source: $('Extract Text Content').item.json.file_name\n        })\n      }\n    });\n    chunkIndex++;\n  }\n  \n  start = end - CHUNK_OVERLAP;\n  if (start >= text.length) break;\n}\n\nreturn chunks;"
            },
            "id": "chunk-text",
            "name": "Chunk Text with Overlap",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1540,
                340
            ]
        },
        {
            "parameters": {
                "batchSize": 20,
                "options": {}
            },
            "id": "split-batches",
            "name": "Split Into Batches",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                1760,
                340
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/embeddings",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($json.content) }}\n}",
                "options": {
                    "timeout": 30000,
                    "batching": {
                        "batch": {
                            "batchSize": 1,
                            "batchInterval": 200
                        }
                    }
                }
            },
            "id": "embed-chunks",
            "name": "Generate Embeddings — OpenAI",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1980,
                340
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI API Key"
                }
            },
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 2000
        },
        {
            "parameters": {
                "jsCode": "// ── Merge chunk data with its embedding ──\nconst chunkData = $('Split Into Batches').item.json;\nconst embeddingResponse = $input.first().json;\n\nconst embedding = embeddingResponse.data[0].embedding;\nconst embeddingStr = '[' + embedding.join(',') + ']';\n\nreturn [{\n  json: {\n    store_id: chunkData.store_id,\n    document_id: chunkData.document_id,\n    chunk_index: chunkData.chunk_index,\n    content: chunkData.content,\n    embedding: embeddingStr,\n    metadata: chunkData.metadata,\n    doc_type: chunkData.doc_type,\n    embedding_status: 'complete'\n  }\n}];"
            },
            "id": "merge-embedding",
            "name": "Merge Chunk + Embedding",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2200,
                340
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=INSERT INTO knowledge_chunks (store_id, document_id, chunk_index, content, embedding, metadata, embedding_status) VALUES ('{{ $json.store_id }}', '{{ $json.document_id }}', {{ $json.chunk_index }}, {{ $json.content | toJSON }}, '{{ $json.embedding }}'::vector, '{{ $json.metadata }}'::jsonb, 'complete');",
                "options": {}
            },
            "id": "insert-chunk",
            "name": "Insert Chunk to DB",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                2420,
                340
            ],
            "credentials": {
                "postgres": {
                    "id": "YOUR_SUPABASE_DB_CREDENTIAL_ID",
                    "name": "Supabase PostgreSQL"
                }
            },
            "retryOnFail": true,
            "maxTries": 2,
            "waitBetweenTries": 1000
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=UPDATE knowledge_documents SET status = 'complete', progress = 100, chunk_count = (SELECT COUNT(*) FROM knowledge_chunks WHERE document_id = '{{ $('Validate Ingestion Request').item.json.document_id }}') WHERE id = '{{ $('Validate Ingestion Request').item.json.document_id }}';",
                "options": {}
            },
            "id": "update-complete",
            "name": "Update Status → Complete",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                2640,
                340
            ],
            "credentials": {
                "postgres": {
                    "id": "YOUR_SUPABASE_DB_CREDENTIAL_ID",
                    "name": "Supabase PostgreSQL"
                }
            }
        }
    ],
    "connections": {
        "Webhook — File Ingestion": {
            "main": [
                [
                    {
                        "node": "Validate Ingestion Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Ingestion Request": {
            "main": [
                [
                    {
                        "node": "Update Status → Extracting",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Respond 202 — Accepted",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Status → Extracting": {
            "main": [
                [
                    {
                        "node": "Download File from Storage",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download File from Storage": {
            "main": [
                [
                    {
                        "node": "Extract Text Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Text Content": {
            "main": [
                [
                    {
                        "node": "Update Status → Chunking",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Status → Chunking": {
            "main": [
                [
                    {
                        "node": "Chunk Text with Overlap",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Chunk Text with Overlap": {
            "main": [
                [
                    {
                        "node": "Split Into Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Into Batches": {
            "main": [
                [
                    {
                        "node": "Generate Embeddings — OpenAI",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Update Status → Complete",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Embeddings — OpenAI": {
            "main": [
                [
                    {
                        "node": "Merge Chunk + Embedding",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Chunk + Embedding": {
            "main": [
                [
                    {
                        "node": "Insert Chunk to DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insert Chunk to DB": {
            "main": [
                [
                    {
                        "node": "Split Into Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner"
    },
    "tags": [
        {
            "name": "ShopMind AI"
        },
        {
            "name": "Ingestion"
        },
        {
            "name": "RAG"
        }
    ]
}