src/workflows/n8n/voice-processing.json
{
    "name": "ShopMind AI — Voice Processing Pipeline",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "voice-processing",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": true
                }
            },
            "id": "a1b2c3d4-0001-4000-8000-000000000001",
            "name": "Webhook — Voice Request",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                220,
                340
            ],
            "webhookId": "voice-processing"
        },
        {
            "parameters": {
                "jsCode": "// ── Validate & sanitize voice input ──\nconst body = $input.first().json.body;\n\nconst store_id = body.store_id;\nconst session_id = body.session_id || `voice-${store_id}-${Date.now()}`;\nconst message = (body.message || '').trim().slice(0, 2000);\nconst conversation_history = body.conversation_history || [];\n\nif (!store_id) throw new Error('Missing required field: store_id');\nif (!message) throw new Error('Missing required field: message');\n\n// Prompt injection defense\nconst injectionPatterns = [\n  'ignore previous instructions',\n  'ignore all instructions',\n  'disregard your instructions',\n  'system prompt',\n  'you are now',\n  'jailbreak',\n  'DAN mode'\n];\n\nlet safeMessage = message;\ninjectionPatterns.forEach(pattern => {\n  safeMessage = safeMessage.replace(new RegExp(pattern, 'gi'), '[removed]');\n});\n\nreturn [{\n  json: {\n    store_id,\n    session_id,\n    message: safeMessage,\n    conversation_history\n  }\n}];"
            },
            "id": "a1b2c3d4-0002-4000-8000-000000000002",
            "name": "Validate Voice Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                340
            ]
        },
        {
            "parameters": {
                "operation": "select",
                "schema": {
                    "__rl": true,
                    "mode": "list",
                    "value": "public"
                },
                "table": {
                    "__rl": true,
                    "mode": "list",
                    "value": "store_profiles"
                },
                "filterByClause": {
                    "parameters": [
                        {
                            "name": "id",
                            "value": "={{ $json.store_id }}"
                        },
                        {
                            "name": "is_active",
                            "value": "true"
                        }
                    ]
                },
                "limit": 1,
                "options": {}
            },
            "id": "a1b2c3d4-0003-4000-8000-000000000003",
            "name": "Supabase — Fetch Store",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                660,
                340
            ],
            "credentials": {
                "postgres": {
                    "id": "YOUR_SUPABASE_DB_CREDENTIAL_ID",
                    "name": "Supabase PostgreSQL"
                }
            },
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 2000
        },
        {
            "parameters": {
                "operation": "select",
                "schema": {
                    "__rl": true,
                    "mode": "list",
                    "value": "public"
                },
                "table": {
                    "__rl": true,
                    "mode": "list",
                    "value": "ai_configurations"
                },
                "filterByClause": {
                    "parameters": [
                        {
                            "name": "store_id",
                            "value": "={{ $('Validate Voice Input').item.json.store_id }}"
                        }
                    ]
                },
                "limit": 1,
                "options": {}
            },
            "id": "a1b2c3d4-0004-4000-8000-000000000004",
            "name": "Supabase — Fetch AI Config",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                880,
                340
            ],
            "credentials": {
                "postgres": {
                    "id": "YOUR_SUPABASE_DB_CREDENTIAL_ID",
                    "name": "Supabase PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "resource": "text",
                "operation": "embed",
                "model": "text-embedding-3-small",
                "text": "={{ $('Validate Voice Input').item.json.message }}"
            },
            "id": "a1b2c3d4-0005-4000-8000-000000000005",
            "name": "OpenAI — Embed Query",
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1,
            "position": [
                1100,
                340
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI Account"
                }
            },
            "retryOnFail": true,
            "maxTries": 2,
            "waitBetweenTries": 2000
        },
        {
            "parameters": {
                "jsCode": "// ── Build pgvector RAG query ──\n// Since the native OpenAI embedding node may output differently,\n// we handle both raw array and nested formats\nconst embeddingResult = $('OpenAI — Embed Query').item.json;\nlet embedding;\n\nif (Array.isArray(embeddingResult.data)) {\n  embedding = embeddingResult.data[0].embedding;\n} else if (Array.isArray(embeddingResult.embedding)) {\n  embedding = embeddingResult.embedding;\n} else if (embeddingResult.data && embeddingResult.data.embedding) {\n  embedding = embeddingResult.data.embedding;\n} else {\n  // Fallback: try the whole json as embedding\n  embedding = embeddingResult;\n}\n\nconst store_id = $('Validate Voice Input').item.json.store_id;\nconst aiConfig = $('Supabase — Fetch AI Config').item.json || {};\nconst topK = aiConfig.top_k_retrieval || 5;\nconst threshold = aiConfig.similarity_threshold || 0.65;\n\nconst embeddingStr = '[' + (Array.isArray(embedding) ? embedding.join(',') : '') + ']';\n\nreturn [{\n  json: {\n    query: `SELECT id, content, metadata, 1 - (embedding <=> '${embeddingStr}'::vector) AS similarity FROM knowledge_chunks WHERE store_id = '${store_id}' AND is_active = true AND 1 - (embedding <=> '${embeddingStr}'::vector) > ${threshold} ORDER BY embedding <=> '${embeddingStr}'::vector LIMIT ${topK};`,\n    store_id\n  }\n}];"
            },
            "id": "a1b2c3d4-0006-4000-8000-000000000006",
            "name": "Build RAG Query",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1320,
                340
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "={{ $json.query }}",
                "options": {}
            },
            "id": "a1b2c3d4-0007-4000-8000-000000000007",
            "name": "Supabase — RAG Search",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1540,
                340
            ],
            "credentials": {
                "postgres": {
                    "id": "YOUR_SUPABASE_DB_CREDENTIAL_ID",
                    "name": "Supabase PostgreSQL"
                }
            },
            "retryOnFail": true,
            "maxTries": 2,
            "waitBetweenTries": 1000
        },
        {
            "parameters": {
                "jsCode": "// ── Assemble context for short voice responses ──\nconst userMessage = $('Validate Voice Input').item.json.message;\nconst storeProfile = $('Supabase — Fetch Store').item.json;\nconst aiConfig = $('Supabase — Fetch AI Config').item.json || {};\nconst chunks = $('Supabase — RAG Search').all().map(i => i.json);\nconst conversationHistory = $('Validate Voice Input').item.json.conversation_history || [];\n\nconst agentName = aiConfig.agent_name || storeProfile.agent_name || 'Alex';\nconst brandVoice = aiConfig.brand_voice || storeProfile.brand_tone || 'friendly';\n\n// Build RAG context\nlet ragContext = chunks.length > 0\n  ? chunks.map((c, i) => `[Source ${i + 1}]: ${c.content}`).join('\\n\\n')\n  : '[NO RELEVANT CONTEXT FOUND]';\n\n// Build conversation history\nconst historyText = conversationHistory.length > 0\n  ? conversationHistory.slice(-6).map(m => `${m.role === 'customer' ? 'Shopper' : 'AI'}: ${m.content}`).join('\\n')\n  : '';\n\nconst systemPrompt = `You are ${agentName}, a helpful AI shopping assistant for ${storeProfile.store_name}.\n\nYour style is ${brandVoice}. This is a VOICE conversation — keep answers SHORT (2-3 sentences max).\n\nRETRIEVED CONTEXT:\n${ragContext}\n\n${historyText ? 'RECENT CONVERSATION:\\n' + historyText : ''}\n\nRULES:\n1. ONLY answer using the retrieved context above\n2. If context doesn't have the answer, say \"I don't have that information, but the store team can help\"\n3. Do NOT invent prices, stock, or policies\n4. Keep answers brief — this will be spoken aloud\n5. Be natural and conversational`;\n\nreturn [{\n  json: {\n    systemPrompt,\n    userMessage,\n    store_id: $('Validate Voice Input').item.json.store_id,\n    session_id: $('Validate Voice Input').item.json.session_id,\n    agentName,\n    chunk_ids: chunks.map(c => c.id)\n  }\n}];"
            },
            "id": "a1b2c3d4-0008-4000-8000-000000000008",
            "name": "Assemble Voice Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1760,
                340
            ]
        },
        {
            "parameters": {
                "resource": "chatMessage",
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gpt-4o-mini"
                },
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "={{ $json.systemPrompt }}"
                        },
                        {
                            "role": "user",
                            "content": "={{ $json.userMessage }}"
                        }
                    ]
                },
                "options": {
                    "temperature": 0.4,
                    "maxTokens": 200
                }
            },
            "id": "a1b2c3d4-0009-4000-8000-000000000009",
            "name": "OpenAI Chat — Generate Response",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.8,
            "position": [
                1980,
                340
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI Account"
                }
            },
            "retryOnFail": true,
            "maxTries": 2,
            "waitBetweenTries": 3000
        },
        {
            "parameters": {
                "jsCode": "// ── Parse the OpenAI native node response ──\nconst gptResult = $input.first().json;\nconst context = $('Assemble Voice Context').item.json;\n\n// The native OpenAI Chat node typically returns in .message.content or .text\nlet aiText = gptResult.message?.content \n  || gptResult.text \n  || gptResult.choices?.[0]?.message?.content \n  || gptResult.output \n  || 'Sorry, I had trouble generating a response.';\n\nreturn [{\n  json: {\n    ai_response: aiText,\n    message: aiText,\n    transcript: context.userMessage,\n    conversation_id: context.session_id,\n    confidence: 0.95,\n    store_id: context.store_id,\n    agent_name: context.agentName,\n    chunk_ids: context.chunk_ids\n  }\n}];"
            },
            "id": "a1b2c3d4-0010-4000-8000-000000000010",
            "name": "Parse AI Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2200,
                340
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=INSERT INTO messages (conversation_id, store_id, role, content) VALUES ('{{ $json.conversation_id }}', '{{ $json.store_id }}', 'customer', {{ $json.transcript | toJSON }}), ('{{ $json.conversation_id }}', '{{ $json.store_id }}', 'assistant', {{ $json.ai_response | toJSON }});",
                "options": {}
            },
            "id": "a1b2c3d4-0011-4000-8000-000000000011",
            "name": "Supabase — Log Messages",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                2420,
                340
            ],
            "credentials": {
                "postgres": {
                    "id": "YOUR_SUPABASE_DB_CREDENTIAL_ID",
                    "name": "Supabase PostgreSQL"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"ai_response\": {{ JSON.stringify($('Parse AI Response').item.json.ai_response) }},\n  \"message\": {{ JSON.stringify($('Parse AI Response').item.json.message) }},\n  \"transcript\": {{ JSON.stringify($('Parse AI Response').item.json.transcript) }},\n  \"conversation_id\": \"{{ $('Parse AI Response').item.json.conversation_id }}\",\n  \"confidence\": {{ $('Parse AI Response').item.json.confidence }},\n  \"audio_url\": null\n}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type"
                            }
                        ]
                    }
                }
            },
            "id": "a1b2c3d4-0012-4000-8000-000000000012",
            "name": "Respond to Frontend",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                2640,
                340
            ]
        }
    ],
    "connections": {
        "Webhook — Voice Request": {
            "main": [
                [
                    {
                        "node": "Validate Voice Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Voice Input": {
            "main": [
                [
                    {
                        "node": "Supabase — Fetch Store",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase — Fetch Store": {
            "main": [
                [
                    {
                        "node": "Supabase — Fetch AI Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase — Fetch AI Config": {
            "main": [
                [
                    {
                        "node": "OpenAI — Embed Query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI — Embed Query": {
            "main": [
                [
                    {
                        "node": "Build RAG Query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build RAG Query": {
            "main": [
                [
                    {
                        "node": "Supabase — RAG Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase — RAG Search": {
            "main": [
                [
                    {
                        "node": "Assemble Voice Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Assemble Voice Context": {
            "main": [
                [
                    {
                        "node": "OpenAI Chat — Generate Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat — Generate Response": {
            "main": [
                [
                    {
                        "node": "Parse AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse AI Response": {
            "main": [
                [
                    {
                        "node": "Supabase — Log Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase — Log Messages": {
            "main": [
                [
                    {
                        "node": "Respond to Frontend",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner"
    },
    "tags": [
        {
            "name": "ShopMind AI"
        },
        {
            "name": "Voice"
        },
        {
            "name": "Production"
        }
    ]
}